@media only screen and (max-width: 1200px) {
    .sliderContainer .sliderDrive li {
        width: 25%;
    }
}

@media only screen and (min-width: 768px) {
    .sliderContainer .sliderDrive li a {
        display: block;
        text-decoration: none;
        color: #000;
        text-align: center;
        padding: 12px 0px;
    }
    .sliderContainer .sliderDrive li.active {
        position: relative;
        background: #ffffff;
    }
    .sliderContainer .sliderDrive li.active:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 12px;
        margin-left: -12px;
    }
    .search.col-md-3 {
        padding: 0px;
    }
    .search .col-md-8,
    .search .col-md-5 {
        padding: 0px;
    }
}

@media only screen and (max-width: 979px) {
    .sliderContainer .sliderDrive li {
        width: 25%;
    }
    .productList .itemGrid .itemDetails .imgHolder .iconHolder ul li {
        margin: 1px 3px;
    }
    .productList .itemGrid .itemDetails .imgHolder .iconHolder ul li a i {
        margin: 0px;
    }
    .productList .itemGrid .itemDetails .imgHolder .iconHolder ul li a span {
        font-size: 10px;
        padding: 1px 5px;
    }
    .mobNavToggle {
        display: none;
        text-align: center;
        margin-top: 15px;
    }
    .mobNavToggle span {
        display: inline-block;
        padding: 8px 15px;
        border: 1px solid #ccc;
        text-decoration: none;
        cursor: pointer;
        margin: 0px 5px;
    }
    .mobNavToggle span.active {
        background-color: #303030;
        color: #fff;
        border-color: #000
    }
    .productList .productItemHolder .itemGrid .itemDetails {
        display: block;
        margin: 0px;
        margin-bottom: 24px;
        margin-right: 20px;
    }
    .productList .productItemHolder {
        display: block;
        margin-top: 50px;
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 767px) {
    body.popin {
        display: block;
        position: fixed;
    }
    .mobileVochure,
    .mobNavToggle {
        display: block;
    }
    .sliderContainer .sliderDrive {
        width: auto;
        margin: 0px auto;
        background-color: transparent;
        border: none;
        text-align: center;
    }
    .sliderContainer .sliderDrive li {
        vertical-align: middle;
        margin: 5px;
        width: 8px;
        height: 8px;
        border-radius: 2em;
        /*border: 1px solid #ccc;*/
    }
    .sliderContainer .sliderDrive li a {
        /*display: inline;*/
        text-decoration: none;
        color: #000;
        text-align: center;
        padding: 12px 0px;
    }
    .sliderContainer .sliderDrive li.active {
        position: static;
        background: #FFC001;
        /*box-shadow: 0px 0px 2px #888;*/
        /*border: 1px solid #888;*/
    }
    .sliderContainer .sliderDrive li.active:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 0px;
        margin-left: -0px;
    }
    .productList .itemGrid .itemDetails .imgHolder .iconHolder ul li {
        margin: 5px 3px;
    }
    .productList .itemGrid .itemDetails .imgHolder .iconHolder ul li a i {
        margin: 0px;
    }
    .productList .itemGrid .itemDetails .imgHolder .iconHolder ul li a span {
        font-size: 12px;
        padding: 3px 8px;
    }
    .productList .productItemHolder .itemGrid .itemDetails {
        margin: 0px 12px;
        margin-bottom: 24px;
    }
    .productList .itemGrid .itemDetails .imgHolder img {
        display: block;
        margin: 0px auto;
    }
    .footerContainer .subscribe input[type="text"] {
        display: block;
        background-color: transparent;
        border: transparent;
        border-radius: 0px;
        margin: 5px 0px;
        font-size: 14px;
        color: #fff;
    }
    .footerContainer .footerNavigation > ul > li a {
        display: block;
        padding: 5px 3px;
        text-decoration: none;
        color: #ccc;
        text-align: center;
        font-size: 14px;
    }
    .footerContainer .footerNavigation .social ul {
        text-align: center;
        /*border: 1px solid #fff;*/
    }
    .footerContainer .siteMap h3,
    .footerContainer .siteMap p {
        text-align: center;
    }
    .navHolder {}
    .navbar-nav {
        text-align: center;
        margin: 0px;
        margin-top: 15px;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
        border: 1px solid #ccc;
        border-radius: 0px;
    }
    .navbar-toggle {
        float: left;
    }
    .navbar-brand {
        float: none;
    }
    #navbar_navHolder {
        /*display: none;*/
        border-right: 3px solid rgba(0, 0, 0, 0.2);
        position: fixed;
        left: 13px;
        top: 0;
        background-color: #F7F7F7;
        z-index: 30;
        width: 250px;
        height: 100% !important;
        padding: 0px;
    }
    .nav_warper {
        position: absolute !important;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    #navbar_navHolder li>.sub-navigation {
        display: none;
    }
    #navbar_navHolder li {
        display: inline-block;
        width: 45%;
        border: 1px solid #000;
        margin-right: -5px;
        margin-bottom: -1px;
        border: 1px solid #ccc;
        background-color: #fff;
        font-size: 12px;
    }
    #navbar_navHolder li a {
        display: block;
        text-decoration: none;
        color: #555;
        padding: 17px 8px;
        text-transform: uppercase;
        font-weight: bold;
    }
    #navbar_navHolder li.active a {
        color: #000;
    }
    .sliderDrive {
        display: inline;
        width: auto;
        border: 1px solid #000;
    }
    .sliderDrive li a span {
        display: none;
    }
    .headerSection .icon-wishlist.mainWishList,
    .headerSection .addToCart.icon-cart {
        width: 24px;
        height: 24px;
    }
    .headerSection .logoContainer .searchHolder .orderQueue ul li {
        margin: 0px 3px;
    }
    .headerSection .logoContainer .searchHolder {
        margin: 0px;
        margin-bottom: 10px;
    }
    .headerSection .logoContainer .searchHolder .orderQueue {
        margin: 5px 0px;
    }
    .mobileVochure {
        /* position: absolute; */
        /* z-index: 31; */
        /* top: 230px; */
        width: 220px;
        margin: 0px auto;
        text-align: center;
        left: 3px;
        /* right:  50%; */
    }
    .mobileVochure .vochureDetails {
        display: block;
        width: 100%;
        margin: 0px auto;
        padding: 8px;
        border: 1px solid #ccc;
        background-color: #fff;
        margin-left: 2px;
    }
    .mobileVochure span {
        display: block;
        margin: 0px 5px;
        padding: 5px;
    }
    .mobileVochure span:first-child {
        border: 1px dashed #ccc;
        margin: 10px 15px;
    }
    .mobileVochure .miniNav {
        display: none;
        margin-top: 10px;
        width: 100%;
    }
    .mobileVochure .miniNav ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        width: 100%;
    }
    .mobileVochure .miniNav ul li {
        display: block;
        width: 82% !important;
    }
    .headerSection .addToCart.icon-cart .cartCount,
    .headerSection .icon-wishlist.mainWishList .wishCount {
        display: none;
        position: absolute;
        border-radius: 2em;
        text-align: center;
        line-height: 12px;
        background-color: #FFC001;
        text-decoration: none;
        padding: 1px 3px;
        font-size: 9px !important;
        color: #000;
        right: -4px;
        top: -8px;
        font-style: normal;
    }
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover {
        color: #555;
        border-top: none;
    }
    .mobileSecondaryNav {
        display: block;
        width: 80%;
        margin: 10px auto;
    }
    .mobileSecondaryNav ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    .mobileSecondaryNav>ul>li {
        display: block;
        border: 1px solid #ccc;
        text-align: center;
        margin-right: -1px;
        margin-bottom: -1px;
    }
    .mobileSecondaryNav ul li a {
        display: block;
        text-decoration: none;
        color: #555;
        text-transform: uppercase;
        padding: 8px 0px;
        font-size: 12px;
    }
    .mobileSecondaryNav ul li a:hover {
        color: #000;
    }
    .productList {
        display: block;
        position: relative;
        margin: 0px;
        padding: 0px;
        padding-bottom: 63px;
    }
    .productFilter .filterContent .filterHolder ul li:first-child {
        display: block;
        max-width: 100% !important;
    }
    .productFilter .filterContent .filterHolder ul li:nth-child(n+2) {
        text-align: center;
        display: inline-block;
        max-width: 200px !important;
        border: 1px solid #ccc;
        min-width: 49%;
        margin: 3px 0px;
    }
    .filterOptions {
        display: block;
        margin: 8px 0px;
        padding: 5px;
    }
}

@media only screen and (max-width: 630px) {
    .headerSection .logoContainer .searchHolder .orderQueue.col-sm-6 {
        padding: 0px;
    }
}

@media only screen and (max-width: 480px) {
    .productList .productTitle b span {
        font-size: 12px;
    }
    .productList:nth-child(2n+1) .productTitle b span {
        font-size: 12px;
    }
    .headerSection .icon-wishlist.mainWishList,
    .headerSection .addToCart.icon-cart {
        width: 21px;
        height: 21px;
    }
    .headerSection .logoContainer .searchHolder .orderQueue ul li {
        margin: 5px 0px;
    }
    .headerSection .logoContainer .searchHolder {
        margin: 0px;
        margin-bottom: 10px;
    }
    .headerSection .logoContainer .searchHolder .orderQueue {
        margin: 5px 0px;
    }
    .headerSection .logoContainer .searchHolder .orderQueue.col-xs-2 {
        margin: 0px;
        padding: 0px;
    }
}

@media only screen and (max-width: 320px) {
    .sliderContainer .sliderDrive li {
        /*width: 25%;*/
    }
    .headerSection .icon-wishlist.mainWishList,
    .headerSection .addToCart.icon-cart {
        width: 20px;
        height: 20px;
    }
}
